body {
    font-family: Helvetica, Tahoma;
    background-color: #f0efef;
}

.img-fluid {
    margin-top: 20px;
}

.tit-me {
    font-size: 50px;
    font-family: fantasy;
    letter-spacing: 5px;
    text-align: left;
}

.who {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.about {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: left;
}

.school,
.over {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
}

.school-text {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

@media (max-width: 768px) {
    .tit-me {
        font-size: 35px;
    }

    .who {
        font-size: 30px;
    }

    .about,
    .school,
    .over {
        font-size: 16px;
    }

    .p-5 {
        padding: 20px;
    }

}

@media (max-width: 480px) {
    .tit-me {
        font-size: 25px;
    }

    .who {
        font-size: 25px;
    }

    .about,
    .school,
    .over {
        font-size: 14px;
    }

    .p-5 {
        padding: 10px;
    }
}