body {
  font-family: Helvetica, Tahoma;
  background-color: #F5F5F5;
}

.parallax1 {
  background-image: url(/img/1645614757378-HTML.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.page-title {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  padding: 50px;
  font-variant: small-caps;
  font-size: 100px;
  font-family: fantasy;
  letter-spacing: 20px;
  height: 300px;
}

.proj {
  margin: 30px 350px 0px 350px;
}

@media (max-width: 768px) {
  .page-title {
    font-size: 50px;
    padding: 25px;
    letter-spacing: 10px;
    height: auto;
  }

  .proj {
    margin: 30px 100px 0px 100px;
  }
}



@media (max-width: 480px) {

  .page-title {
    font-size: 30px;
    padding: 15px;
    letter-spacing: 5px;
    height: auto;
  }

  .proj {
    margin: 30px 20px 0px 20px;
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-link {
    padding: 10px;
  }

  .row .col-md-3 {
    margin-bottom: 20px;
  }
}