body {
  font-family: Helvetica, Tahoma, sans-serif;
  background-color: #F5F5F5;
}

.bg-2 {
  background-color: #F5F5F5;
}

.bg-3 {
  background-color: #f0efef;
}

.parallax1 {
  background-image: url(/img/denhaag-hollandluchtfoto-centrum-1_xgaplus.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url(/img/contact2.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url(/img/portfoliowebsite.png);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  padding: 50px;
  font-variant: small-caps;
  font-size: 100px;
  font-family: fantasy;
  letter-spacing: 20px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.who {
  margin-top: 30px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
}

.about {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-1 {
  background-color: #DCDCDC;
}

.box {
  border-radius: 10px;
  color: #F5F5F5;
  transition: width 0.3s, height 0.3s, border-radius 0.3s;
}

.box:hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.about-me {
  background-image: url(/img/img-me.jpg)
}

.project {
  background-image: url(/img/1645614757378-HTML.jpg);
}

.contact {
  background-image: url(/img/contact2.jpg);
}

.skils {
  background-image: url(/img/skils-image.jpg);
}

.port {
  background-image: url(/img/portfoliowebsite.png);
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .page-title {
    font-size: 30px;
    /* Adjust font size for smaller screens */
    padding: 5px;
    /* Reduce padding for smaller screens */
    height: auto;
    /* Allow content to adjust height */

  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
  color: white;
}

.quick-links ul {
  padding: 0;
}

.quick-links li {
  list-style: none;
  padding: 10px;
  font-weight: 300;
}

.a-links:hover {
  color: #fd5e53;
}