.magrgin1{
    margin-top: 5px;
}
.magrgin2{
    margin-top: 10px;
}
.magrgin3{
    margin-top: 15px;
}
.magrgin4{
    margin-top: 20px;
}
.magrgin5{
    margin-top: 25px;
}
.magrgin6{
    margin-top: 30px;
}
.magrgin7{
    margin-top: 35px;
}
.magrgin8{
    margin-top: 40px;
}
.magrgin9{
    margin-top: 45px;
}
.magrgin10{
    margin-top: 50px;
}