body {
    font-family: Helvetica,Tahoma;
    background-color: #F5F5F5;
  }
  .parallax1 {
    background-image: url(/img/denhaag-hollandluchtfoto-centrum-1_xgaplus.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    opacity: 0.5;
     position: relative;
}  
  .page-title{
   position: absolute;   
   text-align: center;
    color: darkblue;
    padding: 50px;
    font-size: 100px;
    font-family: fantasy;
    width: 100%;
    
  }
.sub-tit{
    position: absolute;
    text-align: center;
    color: darkblue;
    overflow: auto;
}
.container{
    display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
    
  padding: 10px;
}
.box{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #DCDCDC;
    color: #F5F5F5;
}
.box:hover{
  cursor: pointer;;
}

.about-me{
    grid-column-start: 8;
  grid-column-end: 9;
}
  .about-me:hover{
    width: 510px;
    height: 210px;
    border-radius: 10px
  }
.project{
    grid-column-start: 1;
    grid-column-end: 3;
  grid-row: 9;
  background-image: url(/img/1645614757378-HTML.jpg);
}
.project:hover{
  width: 510px;
height: 210px;
border-radius: 10px
}

.contact{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 10;
}
.contact:hover{
  width: 505px;
  height: 205px;
  border-radius: 10px
}